@charset "UTF-8";

#container_pausa {
    padding: 2em 0;
}

.imagem-pausa {
    width: 100%;
}

.card-pausa {
    background: #D4E9E2;
    text-align: center;
    padding-bottom: 3em;
}

.titulo-pausa {
    font-size: 20px;
    padding-top: 2em;
    font-family: var(--font-regular);
    color: rgba(0, 0, 0, 0.616);
}

.texto-pausa {
    padding-top: 2em;
    text-align: center;
    line-height: 25px;
    font-family: var(--font-light);
    font-size: 15px;
}