@charset "UTF-8";

header {
    height: 8vh;
}

#container-header {
    display: flex;
    justify-content: space-between;
}

.logo-starbucks {
    width: 38px;
    padding: 15px;
}

.menu-header {
    padding: 20px;
    cursor: pointer;
}